ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

li {
    float: left;
    border-right:1px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: green;
}

.active {
    background-color: #4CAF50;
}
/* ^--Navigation Bar--^ */
body {
    background-color: #ffcf8c;
}
h2 {
    font-family:  verdana;
    text-align: center;
}
p {
    font-family: verdana;
    font-size: 15px;
    text-align: center;
}

#land {
    background-color: #ffcf8c;
}

h1 {
    font-family: verdana;
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}
